/* headers */
h1 { font-size: 150%; }
h2 { font-size: 135%; }
h3 { font-size: 120%; }

/* links */
a {
    color: #AA0000;
    font-weight: normal;
    text-decoration: none;
}

.contents a:visited {
    color: #AA0000;
}

a.code, a.code:visited, a.line, a.line:visited {
    color: #006688;
}

/* reference cards */
.memtitle {
    margin-left: 5%;
    min-width: 35px;
}

.memitem {
    padding: 0;
    margin-bottom: 30px;
    margin-right: 5px;
    margin-left: 5%;
    -webkit-transition: box-shadow 0.5s linear;
    -moz-transition: box-shadow 0.5s linear;
    -ms-transition: box-shadow 0.5s linear;
    -o-transition: box-shadow 0.5s linear;
    transition: box-shadow 0.5s linear;
    display: table !important;
    width: 90%;
}

.memitem.glow {
         box-shadow: 0 0 40px red;
}

/* code listings */
div.line {
    padding-bottom: 3px;
}
